
body {
    
    font-family:Georgia, 'Times New Roman', Times, serif;
    background-color: rgb(17, 17, 17);
    

}

input {
  align-items: center;
  margin-left: 100px;
  border-radius: 25px;
  background-color: #ffffff;
  color:black;
  padding: 20px;
  width: 400px;
  height: 10px;

}

#qrcode {
  width:160px;
  height:160px;
  margin-top:15px;
  margin: 100px;
  align-items: center;
}